.insight-banner-6{
    background-image:url("/assets/courseware/v1/5ea2e39a7d3b9d6139c1911cb815f669/asset-v1:UQx+ECON7300.1x+2T2022+type@asset+block/notes.png");
    background-size:3%;
    background-position:left;
    background-repeat:no-repeat;
    background-color:#3C7B9A;
    border: inset 1% transparent;
    border-left: inset 16px transparent;
    color:#FFF;
    padding-left:5%;
    padding-top:1%;
    padding-bottom:1%;
    height:3%;
    vertical-align:middle;
}
